button {
    outline: none !important;
}

.graph-loading {
    opacity: 0.6;
}

.energy-graph-wrapper {
    margin: 10px;
}
.energy-graph-wrapper .panel-heading .current-date {
    margin-left: 10px;
}
.energy-graph-wrapper .panel-heading .data-type {
    float: right;
}
.energy-graph-wrapper .panel-body canvas {
    height: 200px !important;
}
